* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/2.jpg) fixed center center no-repeat;
    background-size: cover;
}
div {
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    /* border: solid thin #ddd; */
}
.total {
    margin: 0 auto;
    /* position:; */
    /* left: 50%;
    top: 50%;
    margin: -330px 0 0 -450px; */
    margin-top: 50px;
    padding: 15px;
    height: 600px;
    width: 900px;
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 28% auto;
    grid-template-areas: 'a b b'
                         'c b b'
                         'c b b';
    grid-gap: 15px;
    background: rgba(255, 255, 255, 0.4);
}
.photo {
    grid-area: a;
}
.left {
    grid-area: c;
}
.right {
    grid-area: b;
}
.myphoto {
    margin-left: 35px;
    margin-top: 10px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: url(../img/head.jpg) no-repeat;
    background-size: cover;
    top: 30px;
    left: 48px;
}
.changephoto {
    margin-top: 10px;
    margin-left: 50px;
    height: 20px;
    width: 80px;
}
.changephoto a {
    cursor: pointer;
    display: block;
}
ul li {
    list-style: none;
    margin: 23px;
    padding: 8px;
    border-radius: 15px;
    border: solid thin black;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0); */
}
ul li:hover,.changephoto:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* transition: 0.1s; */
}
ul li:active,.changephoto:active {
    background-color: rgba(255, 255, 255, 0.6);
}
ul label {
    font-size: 18px;
    font-family: '微软雅黑';
    /* color: #333; */
    display: block;
    cursor: pointer;
}
ul li input {
    display: none;
}
form {
    font-size: 20px;
    margin-top: 20px;
}
form label,form input {
    margin: 10px 0;
}
.right div {
    background: rgba(255, 255, 255, 0);
}
form input {
        width: 230px;
        height: 25px;
        padding: 0 5px;
        font-size: 16px;
        border: 1px solid #aaa;
        border-radius: 5px;
}
form input:focus {
        outline: none;
        border: 1px solid #555;
}
#form5 [type="radio"],#form4 [type="checkbox"] {
    width: 50px;
}

.btn {
    font-size: 18px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 1);
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}
